<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
</head>
<body>
    <div th:switch="${customers}" xmlns:th="http://www.w3.org/1999/xhtml">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Customers</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.name}">Martin</td>
                    <td th:text="${customer.surname}">Šimek</td>
                    <td th:text="${#numbers.formatInteger(customer.age,2)}">29</td>
                    <td><a th:href="@{edit/{id}(id=${customer.uid})}">Edit</a></td>
                    <td><a th:href="@{delete/{id}(id=${customer.uid})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{add}">Add a new user</a></p>
    </div>
</body>
</html>